/* DATA HIERARCHY TABLE CSS */
table {
  width: 50%;
  border-collapse: collapse;
  margin: 5% 25% 5% 25%;
  text-align: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

button {
  margin-right: 1%;
  background-color: #0b80bd;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 16px;

}

button:hover{background-color: #0d688f}
button:active {
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);

}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

/* Rest of page */
h2 {
  margin-top: 2%;
}

.container {
  position: absolute;
  top: calc(50px + 2.5%);
  left: 0;
  right: 0;
  bottom: 0;
  max-height: calc(100% - 100px - 2.5% - 20px);
  overflow: auto;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
  text-align: center;
}

button {
  margin-bottom: 4%;
}

.gridview .selected, .gridview tbody .selected {
  background-color: #6ccbfb;
  color: #fff;
}