body {
  overflow: hidden;
}

/* Container Styles */
.main-container {
  position: relative;
  top: -4%;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50%;
  max-height: 82%;
  min-width: 30%;
  max-width: 85%;
  overflow: auto;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container button {
  margin-bottom: 4%;
}

/* Table Styles */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 2%;
  font-family: 'Code Next', sans-serif;
}

table.selected,
table tbody .selected {
  background-color: #6ccbfb;
  color: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 1%;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 150%;
}

td {
  font-size: 125%;
}




.subject-table td:nth-child(1),
.subject-table td:nth-child(2),
.topics-table td:nth-child(1),
.topics-table td:nth-child(2),
.topics-table td:nth-child(4) {
  text-align: center;
}

.subject-table td:nth-child(3),
.topics-table td:nth-child(3) {
  text-align: left;
}

.subject-table td:nth-child(1),
.subject-table th:nth-child(1) {
  width: 15vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 15vw;
}

.subject-table td:nth-child(2),
.subject-table th:nth-child(2) {
  width: 30vw;
  text-overflow: ellipsis;
  min-width: 15vw;
}

.subject-table td:nth-child(3),
.subject-table th:nth-child(3) {
  width: 50vw;
  text-overflow: ellipsis;
}

.topics-table td:nth-child(1),
.topics-table th:nth-child(1) {
  width: 5vw;
  text-overflow: ellipsis;
}

.topics-table td:nth-child(2),
.topics-table th:nth-child(2),
.topics-table td:nth-child(4),
.topics-table th:nth-child(4) {
  width: 10vw;
  text-overflow: ellipsis;
}

.topics-table td:nth-child(3),
.topics-table th:nth-child(3) {
  width: 30vw;
  text-overflow: ellipsis;
}

.topics-table td:nth-child(4),
.topics-table th:nth-child(4) {
  width: 10vw;
  text-overflow: ellipsis;
}

/* Dropdown Styles */
.custom-dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-toggle{
  width: 100%;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.custom-dropdown label{
  display: block;
  padding: 5px;
  cursor: pointer;
}

.custom-dropdown input[type="checkbox"]{
  margin-right: 5px;
}

/* Container styling for topics */
.left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-size: 80%;
  padding-right: 2%;
  box-sizing: border-box;
}

.right-container{
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  vertical-align: top;
}

.input-container {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

input {
  display: inline-block;
  width: 100%;
}

.button-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2%;
}

.button-container button{
  margin: 0 1%;
  margin-bottom: 1%;
}

/* Button Styles */
button{
  margin-right: 1%;
  background-color: #0b80bd;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 125%;
  height: auto;
}

button:hover{
  background-color: #0d688f;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

button:active{
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);
}

/* Heading Styles */
h1 {
  font-size: 225%;
  font-weight: 700;
  margin-bottom: 1%;
}