body {
  overflow: hidden;
}

/* Container Styles */
.main-container {
  position: relative;
  top: -4%;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 82%;
  overflow: auto;
  max-width: 25%;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25%;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-group {
  display: flex;
  align-items: center;
}

/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Registration and Login Styles */
.container .registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

/* Form Styles */
.form-header {
  font-size: 225%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
}

.form input {
  height: 6vh;
  width: 100%;
  padding-left: 5%;
  font-size: 125%;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  outline: none;
  font-family: 'Code Next', sans-serif;
}

.form input:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.form .centered-container input[type="checkbox"] {
  height: 1vw;
  width: 1vw; 
  margin-bottom: 0;
  margin-left: 0.25vw;
}

.form .centered-container [type="checkbox"] + label {
  display: inline-block;
  width: 100%;
}

.form a {
  font-size: 125%;
  color: #0b80bd;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #0b80bd;
  font-size: 150%;
  font-weight: 500;
  letter-spacing: 0.05vw;
  margin-top: 3vh;
  cursor: pointer;
  width: 80%;
  padding-left: 0;
}

.form input.button:hover {
  background: #0d688f;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.form input.button:active {
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);
}

/* Signup Styles */
.signup {
  font-size: 150%;
  text-align: center;
}

.signup label {
  color: #0b80bd;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}

/* Flashes Styles */
div.flashes {
  list-style-type: none;
  text-align: center;
}

div.flashes p {
  color: lightcoral;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
  margin-bottom: 200px;
}