body {
  overflow: hidden;
}

/* Main container styles */
.main-container {
  position: relative;
  top: -4%;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 82%;
  max-height: 82%;
  overflow: auto;
  width: 85%;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
}

/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Elements to style filter table */
.filter-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse; 
  font-family: 'Code Next', sans-serif;
  box-sizing: border-box;
  margin-bottom: 2.5%;
  color: black;
}

.filter-table th, .filter-table td {
  text-align: left;
}

.filter-table th {
  padding: 0.25%;
  font-size: 150%;
}

.filter-table td {
  padding-left: 0.25%;
  padding-bottom: 0.25%;
}

.filter-table td:nth-child(2),
.filter-table th:nth-child(2),
.filter-table td:nth-child(3),
.filter-table th:nth-child(3) { 
  width: 50%; 
}

.filter-table td:nth-child(1),
.filter-table th:nth-child(1),
.filter-table td:nth-child(4),
.filter-table th:nth-child(4) { 
  width: 25%;
}

/* Elements to style results table */
.results-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse; 
  font-family: 'Code Next', sans-serif;
  padding: 0.25%;
  box-sizing: border-box;
  color: black;
}

.results-table th {
  font-size: 150%;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #ddd;
}

.results-table tbody{
  font-size: 125%;
}

.results-table td {
  border: 1px solid #ddd;
  padding: 0.15%;
}

.results-table tfoot td {
  border: none;
  text-align: center;
}

.results-table tfoot td button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results-table td:nth-child(1),
.results-table th:nth-child(1),
.results-table td:nth-child(3), 
.results-table th:nth-child(3)  { 
  width: 15%; 
}

.results-table td:nth-child(2),
.results-table th:nth-child(2) { 
  width: 70%; 
}

.results-table tbody td:nth-child(1),
.results-table tbody td:nth-child(3) {
  text-align: center;
}

.results-table td:nth-child(2) {
  text-align: left;
}

.results-table tfoot tr:last-child td,
.results-table tfoot tr:last-child th {
  border: none;
}

/* Element that style the dropdown input */
.dropdown-input {
  width: 90%;
  padding: 0.3%;
  margin-top: 0.15%;
  font-size: 125%;
  cursor: pointer;
  font-family: 'Code Next', sans-serif;
}

.dropdown-input:hover {
  box-shadow: 0 5pt 10pt rgba(0,0,0,0.3);
  border: 2px solid black;
}

.dropdown-input option {
  padding: 0.3%;
}

.dropdown-input option:hover {
  background-color: #007bff;
  color: white;
}

/* Elements that style the text inputs */
input[type="text"], input[type="number"] {
  width: 90%;
  padding: 1%;
  margin-top: 0.5%;
  font-size: 125%;
  cursor: pointer;
  font-family: 'Code Next', sans-serif;
}

.submit-table input[type="text"] {
  width: 75%;
  padding: 1%;
  margin-top: 0.5%;
  font-size: 125%;
  cursor: pointer;
  font-family: 'Code Next', sans-serif;
}

input[type="text"]:hover, 
input[type="number"]:hover,
.selected-table input[type="number"]:hover,
.submit-table input[type="text"]:hover,
.submit-table .large-textbox:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  border: 2px solid black;
}

.selected-table input[type="number"] {
  width: 50%;
  padding: 1%;
  margin-top: 0.5%;
  font-size: 125%;
  cursor: pointer;
  font-family: 'Code Next', sans-serif;
  text-align: center;
}

.submit-table .large-textbox {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin-top: 0.5%;
  font-size: 125%;
  cursor: pointer;
  font-family: 'Code Next', sans-serif;
}

/* Elements to style buttons */
.select-button {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  background-color: #0b80bd;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 150%;
  font-family: 'Code Next', sans-serif;
  font-weight: 200;
}

.add-button, 
.submit-button {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: #0b80bd;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 125%;
  font-family: 'Code Next', sans-serif;
  font-weight: 200;
}

.remove-button {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: #ff1a1a;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 100%;
  font-family: 'Code Next', sans-serif;
  font-weight: 200;
  text-shadow: -1px -1px 0 #800d0d, 1px -1px 0 #800d0d, -1px 1px 0 #800d0d, 1px 1px 0 #800d0d;
}

.select-button:hover,
.add-button:hover,
.submit-button:hover {
  background-color: #0a679a;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.remove-button:hover {
  background-color: #b30000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.select-button:active,
.add-button:active,
.submit-button:active,
.remove-button:active {
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);
}

/*----- Elements to style side bar ------*/
/* Side panel styling */
.side-panel {
  position: absolute;
  top: 0;
  right: -75%;
  height: 100%;
  padding: 2%;
  color: #ffffff;
  background: #726E60;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  transition: right 0.3s ease-in-out;
  width: 75%;
  overflow-y: auto; 
}

/* Side panel state: open */
.wrapper.side-panel-open {
  flex-direction: row;
}

.wrapper.side-panel-open .side-panel {
  right: 0;
}

/* Side panel button styling */
.side-panel-toggle {
  position: absolute;
  top: 3.5%;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3% 0.5%;
  color: #ffffff;
  background: #726E60; /* The button's background */
  border-radius: 5px 0 0 5px;
  outline: none;
  cursor: pointer;
  transition: right 0.3s ease-in-out;
}

/* Elements to create animated border */
.animated-border {
  position: absolute;
  z-index: 9; 
  border-radius: 5px 0 0 5px;
  background: transparent;
  --border-angle: 0deg;
  display: none;
  pointer-events: none;
  display: none;
}

/* Adjust the keyframes to rotate the border */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-border.animate {
  display: block;
  background: linear-gradient(60deg, #00ACD4, #7AFAC4, #00ACD4, #7AFAC4);
  background-size: 300% 300%; /* Enlarge background to enable animation */
  animation: moveGradient 4s linear infinite;
}

.animated-border {
  display: none;
}

/* Side panel toggle button states */
.side-panel-toggle:hover,
.side-panel-open .side-panel-toggle:hover {
  background: #708B75;
}

.side-panel-toggle .material-icons:first-child,
.side-panel-open .side-panel-toggle .material-icons:last-child {
  display: none;
}

.side-panel-open .side-panel-toggle .material-icons:first-child,
.side-panel-toggle .material-icons:last-child {
  display: block;
}

.side-panel-open .side-panel-toggle {
  right: 75%;
  border-radius: 5px 0 0 5px;
  background: #44423A;
  transition: right 0.3s ease-in-out;
}

/* Side-panel text */
.text-container {
  text-align: center;
  padding-bottom: 1%;
  width: 100%;
  color: black;
  font-size: 200%;
  font-weight: bold;
  text-shadow: -1px -1px 0 #9c9a90, 1px -1px 0 #9c9a90, -1px 1px 0 #9c9a90, 1px 1px 0 #9c9a90;
}

/* Elements to style selected table in the side panel*/
.selected-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse; 
  font-family: 'Code Next', sans-serif;
  padding: 0.25%;
  color: black;
  margin-bottom: 1%;
}

.selected-table, .selected-table th, .selected-table td {
  box-sizing: border-box;
}

.selected-table th {
  font-size: 150%;
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #ddd;
}

.selected-table td {
  border: 1px solid #ddd;
  padding: 0.25%;
  font-size: 125%;
  background-color: #9c9a90;
}

.selected-table th:nth-child(4),
.selected-table td:nth-child(4) {
  border: none;
  background-color: transparent;
}

.selected-table td:nth-child(1),
.selected-table th:nth-child(1),
.selected-table td:nth-child(2),
.selected-table th:nth-child(2),
.selected-table td:nth-child(4),
.selected-table th:nth-child(4) { 
  width: 20%; 
  text-align: center;
}

.selected-table td:nth-child(3),
.selected-table th:nth-child(3) { 
  width: 80%; 
}

/* Elements to style submit table in the side panel */
.submit-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse; 
  font-family: 'Code Next', sans-serif;
  padding: 0.25%;
  color: black;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
}

.submit-table th {
  font-size: 150%;
  text-shadow: -1px -1px 0 #9c9a90, 1px -1px 0 #9c9a90, -1px 1px 0 #9c9a90, 1px 1px 0 #9c9a90;
}

.submit-table td {
  font-size: 125%;
}

.submit-table td:nth-child(1) {
  border: 1px solid #ddd;
  background-color: #9c9a90;
}

.submit-table td:nth-child(1),
.submit-table th:nth-child(1),
.submit-table td:nth-child(3),
.submit-table th:nth-child(3) { 
  width: 25%;
  text-align: center;
}

.submit-table td:nth-child(2),
.submit-table th:nth-child(2) { 
  width: 75%;
}

.submit-table td[colspan="2"] {
  background: transparent;
  border: none;
}

/* Slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e05151;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0bad3c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Elements to style headings */
h1 {
  display: block;
  margin-bottom: 1%;
  font-size: 225%;
  color: black;
  text-align: center;
  padding-bottom: 0.25%;
  font-weight: 700;
}

h2 {
  display: block;
  margin-bottom: 0.25%;
  font-size: 150%;
  color: black;
  text-align: center;
  padding-bottom: 0.25%;
  font-family: 'Code Next', sans-serif;
}

h3 {
  display: block;
  margin-bottom: 0.25%;
  font-size: 200%;
  font-weight: 700;
  color: black; 
}