/* HEADER NAV BAR CSS */
header.navigation{
  background: #fff;
  padding: 20px 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  position: static;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #0b80bd;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}

body {
    min-height: 100vh;
    width: 100%;
    background: #0b80bd;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

h1 {
    display: block;
    margin-bottom: 5px;
    font-size: 225%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #3B4856;
    text-align: center;
    padding-bottom: 5px;
}

h2 {
    display: block;
    margin-bottom: 5px;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #3B4856; 
}

/* Elements that style the sections */
.section {
    margin-bottom: 50px;
}

.label-container {
    width: 98.5%;
    margin: 10px;
    border-bottom: 1px solid black;
}

/* Elements that style the text input sections */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 10px; 
}

.grid-item {
    padding: 10px; 
}

.label-textboxsection-container {
    width: 75%;
    margin: 10px;
    border-bottom: 1px solid black;
}

.textinput-container {
    width: 98.5%;
    margin: 10px;
    padding-bottom: 10px;
}

.section input[type="text"], input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
}

.section input[type="text"]:hover, 
.section input[type="number"]:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
}

/* Elements that style the bottom button */
.centered-button-container {
    width: 98.5%;
    margin: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

button {
    padding: 20px 30px;
    background-color: #0b80bd;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Code Next', sans-serif;
    font-weight: 200;
}

button:hover {
    background-color: #0a679a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

/* Element that style the dropdown input */
#dropdownInput {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Code Next', sans-serif;
}

#dropdownInput:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
}

#dropdownInput option {
    padding: 10px;
}

#dropdownInput option:hover {
    background-color: #007bff;
    color: white;
}

/* Elements that style the selection buttons */
.criteria-container {
    width: 95%;
    margin: auto;
    padding: 10px;
    border-style: groove;
    border-radius: 7px;
    border-width: 10px;
}

.selection-container {
    width: 98.5%;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.criteria-container .selection-container .toggle-btn {
    padding: 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #6B95BC;
    text-shadow: -1px -1px 0 #364b5e, 1px -1px 0 #364b5e, -1px 1px 0 #364b5e, 1px 1px 0 #364b5e;
}

.criteria-container .selection-container .toggle-btn .toggle-btn-label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Code Next', sans-serif;
    color: #FFF;
}

.criteria-container .selection-container .toggle-btn:hover {
    background-color: #0a679a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.criteria-container .section .selectCategory {
    padding: 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-family: 'Code Next', sans-serif;
    border-radius: 8px;
    background-color: #cad9e7;
    color: #3b4044;
    font-family: 'Code Next', sans-serif;
    text-shadow: -1px -1px 0 #c4d5e4, 1px -1px 0 #c4d5e4, -1px 1px 0 #c4d5e4, 1px 1px 0 #c4d5e4;
    border: 2px solid #4e555b;
}

.criteria-container .section .selectCategory:hover {
    background-color: #8995a0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid #cad9e7;
}

.criteria-container .section label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 24px;
}

.selected {
    background: linear-gradient(to bottom, #00ACD4 -1.1%, #7AFAC4 100.7%);
    color: #fff;
    text-shadow: -1px -1px 0 #338879, 1px -1px 0 #338879, -1px 1px 0 #338879, 1px 1px 0 #338879;
}
  
#confirmSelection {
    margin-top: 20px;
}
  
  