body {
    overflow: hidden;
}

/* Main container styles */
.main-container {
    position: relative;
    top: -4%;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 82%;
    max-height: 82%;
    overflow: auto;
    width: 85%;
    margin: auto;
    padding: 1.5%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Elements to style headings */
h1 {
    display: block;
    margin-bottom: 1%;
    font-size: 225%;
    color: black;
    text-align: center;
    padding-bottom: 0.125%;
    font-weight: 700;
  }
  
  h2 {
    display: block;
    margin-bottom: 0.125%;
    font-size: 150%;
    color: black;
    text-align: center;
    padding-bottom: 0.125%;
    font-family: 'Code Next', sans-serif;
  }
  
  h3 {
    display: block;
    margin-bottom: 0.125%;
    font-size: 200%;
    font-weight: 700;
    color: black; 
  }

/* Elements that style the sections */
.section {
    margin-bottom: 2.5%;
}

.label-container {
    width: 98.5%;
    margin: 1%;
    border-bottom: 1px solid black;
}

/* Elements that style the text input sections */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%; 
    padding-left: 2%;
}

.grid-item {
    padding: 1%; 
}

.label-textboxsection-container {
    width: 75%;
    margin: 1%;
    border-bottom: 1px solid black;
}

.textinput-container {
    width: 98.5%;
    margin: 1%;
    padding-bottom: 10px;
}

.section input[type="text"], .section input[type="number"] {
    width: 50%;
    padding: 1%;
    margin-top: 0.5%;
    font-size: 125%;
    cursor: pointer;
    font-family: 'Code Next', sans-serif;
}

.section input[type="text"]:hover, 
.section input[type="number"]:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
}

/* Elements that style the bottom button */
.centered-button-container {
    width: 98.5%;
    margin: 1%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#confirm-selection {
    padding: 20px 30px;
    background-color: #0b80bd;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 125%;
    font-family: 'Code Next', sans-serif;
    font-weight: 200;
}

#confirm-selection:hover {
    background-color: #0a679a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

#confirm-selection:active {
    background-color: #040f16;
    box-shadow: 0 5px #726e60;
    transform: translateY(4px);
  }

/* Element that style the dropdown input */
.dropdown-input {
    width: 50%;
    padding: 1%;
    margin-top: 0.5%;
    font-size: 125%;
    cursor: pointer;
    font-family: 'Code Next', sans-serif;
}

.dropdown-input:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid black;
}

.dropdown-input option {
    padding: 1%;
}

.dropdown-input option:hover {
    background-color: #007bff;
    color: white;
}

/* Elements that style the selection buttons */
.criteria-container {
    width: 95%;
    margin: auto;
    padding: 1%;
    border-style: groove;
    border-radius: 7px;
    border-width: 1vw;
}

.selection-container {
    width: 98.5%;
    margin: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}

.criteria-container .selection-container .toggle-btn {
    padding: 1%;
    margin: 0.5%;
    border: none;
    cursor: pointer;
    background-color: #6B95BC;
    text-shadow: -1px -1px 0 #364b5e, 1px -1px 0 #364b5e, -1px 1px 0 #364b5e, 1px 1px 0 #364b5e;
}

.criteria-container .selection-container .toggle-btn .toggle-btn-label {
    display: inline-block;
    margin-bottom: 0.5%;
    font-size: 100%;
    font-family: 'Code Next', sans-serif;
    color: #FFF;
}

.criteria-container .selection-container .toggle-btn:hover {
    background-color: #0a679a;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.criteria-container .section .select-category {
    padding: 1%;
    margin-left: 1vw;
    margin-right: 125%;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-family: 'Code Next', sans-serif;
    background-color: #cad9e7;
    color: #3b4044;
    font-family: 'Code Next', sans-serif;
    text-shadow: -1px -1px 0 #c4d5e4, 1px -1px 0 #c4d5e4, -1px 1px 0 #c4d5e4, 1px 1px 0 #c4d5e4;
    border: 2px solid #4e555b;
    white-space: nowrap;
}

.criteria-container .section .select-category:hover {
    background-color: #8995a0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 2px solid #cad9e7;
}

.criteria-container .section label {
    display: inline-block;
    margin-bottom: 0.5%;
    font-size: 125%;
}

.selected {
    background: linear-gradient(to bottom, #00ACD4 -1.1%, #7AFAC4 100.7%);
    color: #fff;
    text-shadow: -1px -1px 0 #338879, 1px -1px 0 #338879, -1px 1px 0 #338879, 1px 1px 0 #338879;
}