/* Main container styles */
.main-container {
    position: absolute;
    top: calc(50px + 2.5%);
    left: 0;
    right: 0;
    bottom: 0;
    max-height: calc(100% - 100px - 2.5% - 20px);
    overflow: auto;
    width: 30%;
    margin: auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}