body {
  overflow: hidden;
}

/* Container Styles */
.main-container {
   position: relative;
  top: -4%;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 40%;
  max-height: 82%;
  min-width: 30%;
  max-width: 85%;
  overflow: auto;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.centered-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Table Styles */
table {
   width: 100%;
  border-collapse: collapse;
  margin: 2%;
  font-family: 'Code Next', sans-serif;
}

.topics-table td:nth-child(1),
.topics-table td:nth-child(2) {
  text-align: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 1%;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 150%;
}

td {
  font-size: 125%;
}

td:nth-child(2) {
  text-align: center;
}

/* Button Styles */
button {
  margin-right: 1%;
  background-color: #0b80bd;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #0d688f;
}

button:active {
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);
}

/* Heading Styles */
h1 {
  font-size: 225%;
  font-weight: 700;
  margin-bottom: 1%;
}