body {
  overflow: hidden;
}

/* Container styles */
.main-container {
  position: relative;
  top: -4%;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50%;
  max-height: 82%;
  min-width: 85%;
  max-width: 85%;
  overflow: auto;
  margin: auto;
  padding: 1.5%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  overflow-x: hidden;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wrapper styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Filter table styles */
.filter-table {
  width: 90%; 
  table-layout: fixed; 
  border-collapse: collapse; 
  font-family: 'Code Next', sans-serif;
  box-sizing: border-box;
  color: black;
  border: none;
  background: transparent;
}

.filter-table th, .filter-table td {
  text-align: left;
}

.filter-table th {
  padding: 0.25%;
  font-size: 150%;
}

.filter-table td {
  padding-left: 0.25%;
  padding-bottom: 0.125%;
}

.filter-table th:nth-child(1),
.filter-table td:nth-child(1),
.filter-table th:nth-child(2),
.filter-table td:nth-child(2) {
  width: 60%;
}

.filter-table th:nth-child(3),
.filter-table td:nth-child(3),
.filter-table th:nth-child(4),
.filter-table td:nth-child(4) {
  width: 30%;
}

/* Results table styling */
.results-table {
  margin-top: 2.5%;
  vertical-align: middle;
  border-collapse: collapse;
  text-align: center;
  width: 90%;
  font-family: 'Code Next', sans-serif;
}

.results-table th, 
.results-table td {
  border: 1px solid #ddd;
  padding: 1%;
  text-align: left;
}

.results-table th {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 150%;
}

.results-table td {
  font-size: 125%;
}

.results-table th:nth-child(1),
.results-table td:nth-child(1){
  width: 5%
}

.results-table th:nth-child(2),
.results-table td:nth-child(2),
.results-table th:nth-child(3),
.results-table td:nth-child(3),
.results-table th:nth-child(4),
.results-table td:nth-child(4),
.results-table th:nth-child(5),
.results-table td:nth-child(5),
.results-table th:nth-child(6),
.results-table td:nth-child(6),
.results-table th:nth-child(7),
.results-table td:nth-child(7) {
  width: 10%;
}

/* Heading Styles */
h1 {
  font-size: 225%;
  font-weight: 700;
  margin-bottom: 1%;
}

/* Input Styles */
.filter-table select {
  width: 90%; /* Adjust as needed */
}

.filter-table[type="date"] {
  width: 100%;
}

/* Hover Effect */
#testclick:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}