/* DATA HIERARCHY TABLE CSS */
table {
    margin: 1% auto;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
}

#testclick:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

button {
    margin-right: 1%;
    background-color: #0b80bd;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 16px;

}
button:hover{background-color: #0d688f}
button:active {
  background-color: #040f16;
  box-shadow: 0 5px #726e60;
  transform: translateY(4px);
}
#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}

/* Rest of page */
h2{
  margin-top: 2%;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  text-align: center;
}

button{
  margin-bottom: 4%;
}

/* Container for filtering options */
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* filtering options */
.options {
    display: flex;
    flex-direction: column;
}

/* labels in each option */
.options label {
    margin-bottom: 5px;
}

/* select/input fields in each option */
.options select,
.options input[type="date"] {
    width: 150px;
}


/* Hide dropdown table by default */
.dropdown-table {
    display: none;
}

/* Add animation effect */
.dropdown-table.show {
    display: table-row;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CSS file */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}