<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/datahierarchy.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="main-container">
            <h2>{{ subject_data['name'] }}</h2>
            <p>{{ subject_data['description'] }}</p>
            <table class="gridview" id="datasTable">
                <thead>
                    <tr>
                        <th>Topic ID</th>
                        <th>Topic</th>
                        <th>Description</th>
                        <th>Facility / Location Applicability  </th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                        <tr onclick="toggleClass(this, 'selected');">
                            <td>{{ topic.topic_id }}</td>
                            <td>{{ topic.name }}</td>
                            <td>{{ topic.description }}</td>
                            <td>{{ topic.facility }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div>
                <h2>Topic Editor</h2>
                <p style="display: inline-block; margin-right: 10px;">Topic Name</p>
                <input type="text" required minlength="4" maxlength="8"/>
            </div>
            <div>
                    <p style="display: inline-block; margin-right: 10px;">Topic Description</p>
                    <input type="text" required minlength="4" maxlength="8"/>
            </div>
            <div>
                <p style="display: inline-block; margin-right: 10px;">References</p>
                    <input type="text" required minlength="4" maxlength="8"/>
            </div>
            <div>
                <button onclick="">New Reference</button>
            </div>
            <!-- Buttons -->
            <button onclick="addTopic()">Add Topic</button>
            <button onclick="editTopic()">Edit Topic</button>
            <button onclick="deleteData()">Cancel</button>
        </div>
    </body>
    <script>
        var subject_id =  {{ subject_id | string}};
        function toggleClass(el, className) {
                    var rows = el.parentNode.getElementsByTagName("tr");

                    for (var i = 0; i < rows.length; i++){
                        // Remove class from all other rows that aren't selected
                        if(rows[i] !== el){
                            rows[i].classList.remove(className);
                        }
                    }
                    //Toggle the class of selected row
                    if(el.classList.contains(className)){
                        // If class is selected, remove
                        el.classList.remove(className);
                    }else{
                        // if not selected, select
                        el.classList.add(className);
                    }
        }

        function xhrSend(type,value1,value2,value3,value4,value5,value6)
        {
            let xhr = new XMLHttpRequest();

            let json = JSON.stringify({
                type: type,
                value1: value1, value2: value2, value3:value3, value4:value4, value5:value5,value6:value6
            });

            xhr.open("POST", '/datatopichierarchy')
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

            xhr.send(json);

            xhr.onload = function(event)
            {
                window.location.reload();
            }
        }

        // Function to add data entries
        function addTopic() {
            const newData = prompt('Enter the new topic:');
            const newDescription = prompt('Enter the description for the new data:');
            const newFacility = prompt('Enter the facility for the new data:');

            xhrSend("add",""+subject_id,""+newData,""+newDescription,""+newFacility,"","");
        }

        function editTopic()
        {
            const rowIndex = prompt('Enter the Topic ID to edit:');
            const uTopic = prompt('Enter the updated data:');
            const uDescription = prompt('Enter the updated description:');
            const newFacility = prompt('Enter the facility for the new data:');

            xhrSend("edit",""+rowIndex,""+uTopic,""+uDescription,newFacility,"","");
        }


    </script>
</html>