<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/datahierarchy.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fonts.css') }}">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="wrapper">
            <div class="main-container">
                <div class="centered-container">
                    <h1>Questions</h1>
                </div>
                <div class="centered-container">
                    <p>Select a question to edit or create a new question</p>
                </div>
                <div class="centered-container">
                    <table class="questions-table" id="datasTable">
                        <thead>
                            <tr>
                                <th>Question ID</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Difficulty</th>
                                <th>Max Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for question in questions %}
                                <tr onclick="toggleClass(this, 'selected');" onmouseover="this.style.cursor = 'pointer';" onmouseout="this.style.cursor='auto';">
                                    <td>{{ question.question_id }}</td>
                                    <td>{{ question.question_desc }}</td>
                                    <td>{{ question.question_type }}</td>
                                    <td>{{ question.question_difficulty }}</td>
                                    <td>{{ question.max_points }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Buttons -->
                <div class="button-container">
                    <button onclick="addQuestion()">Add</button>
                    <button onclick="editQuestion()">Edit</button>
                    <button onclick="deleteQuestion()">Delete</button>
                    <button id="backButton">Back</button>
                </div>
                <script>
                    var topic_id = {{ topic_id | string}};
                    var subject_id = {{ subject_id | string }};

                    document.getElementById('backButton').addEventListener('click', function() {
                    // Redirect to url when button is clicked
                    window.location.replace('/dataobjhierarchy?topic_id='+topic_id+'&subject_id='+subject_id);
                    });

                    let data = [];

                    function toggleClass(el, className) {
                        var rows = el.parentNode.getElementsByTagName("tr");

                        for (var i = 0; i < rows.length; i++){
                            // Remove class from all other rows that aren't selected
                            if(rows[i] !== el){
                                rows[i].classList.remove(className);
                            }
                        }
                        //Toggle the class of selected row
                        if(el.classList.contains(className)){
                            // If class is selected, remove
                            el.classList.remove(className);
                        }else{
                            // if not selected, select
                            el.classList.add(className);
                        }
                    }

                    function xhrSend(type,value1,value2,value3) {
                        let xhr = new XMLHttpRequest();

                        let json = JSON.stringify({
                            type: type,
                            value1: value1,
                            value2: value2,
                            value3:value3
                        });

                        xhr.open("POST", '/dataquestionhierarchy')
                        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                if (xhr.status === 200) {
                                    // Get response
                                    let response = JSON.parse(xhr.responseText);

                                    // If delete failed, display error message with topic conflicts.
                                    if (response.category === "FAILURE") {
                                        alert(response.error_message);
                                    } else {
                                        window.location.reload(); // Reload the page to reflect db changes
                                    }
                                } else {
                                    // Handle failed http request
                                    console.error("Request failed with status:", xhr.status);
                                }
                            }
                        };

                        xhr.send(json);
                    }


                    // Function to add data entries
                    function addQuestion() {
                        // Open a new browser window with the specified URL
                        var popup = window.open('{{url_for('addquestion')}}' + '?obj_id={{ obj_id }}', 'popupWindow', 'width=1200,height=800,menubar=no,toolbar=no,status=no,resizeable=no');
                    }

                    // Function to edit data entries
                    function editQuestion() {
                        // Get all the table rows
                        var rows = document.querySelectorAll('tbody tr');

                         // Initialize a variable to store the selected subject_id
                        var rowIndex = null;

                        var currentSubject;
                        var currentDescription;

                        // Iterate over each row to find the selected one
                        rows.forEach(function(row) {
                            // Check if the row has the 'selected' class
                            if (row.classList.contains('selected')) {
                                // Get the first cell (subject_id cell) content
                                rowIndex = row.cells[0].textContent;
                                currentSubject = row.cells[1].textContent;
                                currentDescription = row.cells[2].textContent;
                            }
                        });
                        if (rowIndex != null)
                        {
                            var popup = window.open('{{url_for('editquestion')}}' + '?obj_id={{ obj_id }}&question_id=' + rowIndex, 'popupWindow', 'width=1200,height=800,menubar=no,toolbar=no,status=no,resizeable=no');
                        }
                        else
                        {
                            alert('Please select a question');
                        }


                    }

                    // Function to delete data
                    function deleteQuestion() {

                        var confirmation = confirm("Are you sure you want to delete the selected record?");

                        if (confirmation) {
                             // Get all the table rows
                            var rows = document.querySelectorAll('tbody tr');

                             // Initialize a variable to store the selected subject_id
                            var rowIndex = null;

                            // Iterate over each row to find the selected one
                            rows.forEach(function(row) {
                                // Check if the row has the 'selected' class
                                if (row.classList.contains('selected')) {
                                    // Get the first cell (subject_id cell) content
                                    rowIndex = row.cells[0].textContent;
                                }
                            });
                            if (rowIndex != null) {
                                xhrSend("delete", "" + rowIndex, "", "");
                            }
                            else
                            {
                                alert('Please select a question');
                            }
                        }

                    }

                    // Function to clear table
                    function clearTable(tableBody) {
                        while (tableBody.firstChild) {
                            tableBody.removeChild(tableBody.firstChild);
                        }
                    }

                    function refreshParent() {
                        window.location.reload(); // Reloads the current window
                    }
                </script>
            </div>
        </div>
    </body>
</html>