<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/datahierarchy.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fonts.css') }}">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="wrapper">
            <div class="main-container">
                <div class="centered-container">
                    <h1>Data Hierarchy</h1>
                </div>
                <div class="centered-container">
                    <p>Select a subject</p>
                </div>
                <div class="centered-container">
                    <table class="subject-table" id="datasTable">
                        <thead>
                            <tr>
                                <th>Subject ID</th>
                                <th>Subject</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in subjects %}
                                <tr onclick="toggleClass(this, 'selected');" onmouseover="this.style.cursor = 'pointer';" onmouseout="this.style.cursor='auto';">
                                    <td>{{ subject.subject_id | string}}</td>
                                    <td>{{ subject.name | string}}</td>
                                    <td>{{ subject.description | string}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Buttons -->
                <div class="button-container">
                    <button onclick="viewTopics()">View Topics</button>
                    <button onclick="addData()">Add</button>
                    <button onclick="editData()">Edit</button>
                    <button onclick="deleteData()">Delete</button>
                </div>
                <!-- JS -->
                <script>
                    let data = [];
        
                    function toggleClass(el, className) {
                        var rows = el.parentNode.getElementsByTagName("tr");
        
                        for (var i = 0; i < rows.length; i++){
                            // Remove class from all other rows that aren't selected
                            if(rows[i] !== el){
                                rows[i].classList.remove(className);
                            }
                        }
                        //Toggle the class of selected row
                        if(el.classList.contains(className)){
                            // If class is selected, remove
                            el.classList.remove(className);
                        }else{
                            // if not selected, select
                            el.classList.add(className);
                        }
                    }
        
                    function viewTopics() {
                        // Get all the table rows
                        var rows = document.querySelectorAll('tbody tr');
        
                        // Initialize a variable to store the selected subject_id
                        var selectedSubjectId = null;
        
                        // Iterate over each row to find the selected one
                        rows.forEach(function(row) {
                            // Check if the row has the 'selected' class
                            if (row.classList.contains('selected')) {
                                // Get the first cell (subject_id cell) content
                                selectedSubjectId = row.cells[0].textContent;
                            }
                        });
        
                        // Check if a subject is selected
                        if (selectedSubjectId) {
                            window.location.href = '/datatopichierarchy?subject_id=' + selectedSubjectId;
                        } else {
                            alert('Please select a subject')
                        }
                    }
        
                    function xhrSend(type,value1,value2,value3) {
                        let xhr = new XMLHttpRequest();
        
                        let json = JSON.stringify({
                            type: type,
                            value1: value1,
                            value2: value2,
                            value3:value3
                        });
        
                        xhr.open("POST", '/datahierarchy')
                        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                if (xhr.status === 200) {
                                    // Get response
                                    let response = JSON.parse(xhr.responseText);

                                    // If delete failed, display error message with topic conflicts.
                                    if (response.category === "FAILURE") {
                                        alert(response.error_message);
                                    } else {
                                        window.location.reload(); // Reload the page to reflect db changes
                                    }
                                } else {
                                    // Handle failed http request
                                    console.error("Request failed with status:", xhr.status);
                                }
                            }
                        };

                        xhr.send(json);
                    }
        
        
                    // Function to add data entries
                    function addData() {
                        const newData = prompt('Enter the new data:');
                        const newDescription = prompt('Enter the description for the new data:');
                        const maxInputLength = 40;

                        // Check if the input exceeds the maximum length
                        if (newData && newData.length > maxInputLength) {
                            alert("The input exceeds the maximum length of " + maxInputLength + " characters.");
                            return;
                        }

                        if(newData != null && newDescription != null) {
                            xhrSend("add", "" + newData, "" + newDescription, "");
                        }
                        else
                        {
                            alert('A field was left blank');
                        }
                    }
        
                    // Function to edit data entries
                    function editData() {
                        // Get all the table rows
                        var rows = document.querySelectorAll('tbody tr');

                         // Initialize a variable to store the selected subject_id
                        var rowIndex = null;

                        var currentSubject;
                        var currentDescription;

                        // Iterate over each row to find the selected one
                        rows.forEach(function(row) {
                            // Check if the row has the 'selected' class
                            if (row.classList.contains('selected')) {
                                // Get the first cell (subject_id cell) content
                                rowIndex = row.cells[0].textContent;
                                currentSubject = row.cells[1].textContent;
                                currentDescription = row.cells[2].textContent;
                            }
                        });
                        if (rowIndex != null)
                        {
                            const uSubject = prompt('Enter the updated subject:',currentSubject);
                            const uDescription = prompt('Enter the updated description:',currentDescription);

                            if(uSubject != null && uDescription != null) {
                                xhrSend("edit", "" + rowIndex, "" + uSubject, "" + uDescription);
                            }
                        }
                        else
                        {
                            alert('Please select a subject');
                        }
        
        
                    }
        
                    // Function to delete data
                    function deleteData() {

                        var confirmation = confirm("Are you sure you want to delete the selected record?");

                        if (confirmation) {
                             // Get all the table rows
                            var rows = document.querySelectorAll('tbody tr');

                             // Initialize a variable to store the selected subject_id
                            var rowIndex = null;

                            // Iterate over each row to find the selected one
                            rows.forEach(function(row) {
                                // Check if the row has the 'selected' class
                                if (row.classList.contains('selected')) {
                                    // Get the first cell (subject_id cell) content
                                    rowIndex = row.cells[0].textContent;
                                }
                            });
                            if (rowIndex != null) {

                                xhrSend("delete", "" + rowIndex, "", "");
                            }
                            else
                            {
                                alert('Please select a subject');
                            }
                        }

                    }
        
                    // Function to clear table
                    function clearTable(tableBody) {
                        while (tableBody.firstChild) {
                            tableBody.removeChild(tableBody.firstChild);
                        }
                    }
                </script>
            </div>
        </div>
    </body>
</html>