<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/datahierarchy.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <style>
            .error {
              color: red;
            }
        </style>
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="container">
            <h2>Data Hierarchy</h2>
            <table id="datasTable">
                <thead>
                    <tr>
                        <th>Subject ID</th>
                        <th>Subject</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                        <tr>
                        <td>{{ subject.subject_id | string}}</td>
                        <td>{{ subject.name | string}}</td>
                        <td>{{ subject.description | string}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Buttons -->
            <button onclick="viewAllDatas()">View Topics</button>
            <button onclick="addData()">Add</button>
            <button onclick="editData()">Edit</button>
            <button onclick="deleteData()">Delete</button>
            <!-- JS -->
            <script>
                let data = [];


                function xhrSend(type,value1,value2,value3)
                {
                    let xhr = new XMLHttpRequest();

                    let json = JSON.stringify({
                      type: type,
                      value1: value1,
                        value2: value2,
                        value3:value3
                    });

                    xhr.open("POST", '/datahierarchy')
                    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

                    xhr.send(json);

                    xhr.onload = function(event)
                    {
                        window.location.reload();
                    }
                }

                // Function to view topics that are part of the data theme *work in progress
                function viewAllDatas() {
                    const tableBody = document.getElementById('datasTable').getElementsByTagName('tbody')[0];
                    clearTable(tableBody);

                    data.forEach(data => {
                        const row = tableBody.insertRow();
                        row.insertCell(0).innerText = data.data_id;
                        row.insertCell(1).innerText = data.data;
                        row.insertCell(2).innerText = data.description;
                    });
                }

                // Function to add data entries
                function addData() {
                    const newData = prompt('Enter the new data:');
                    const newDescription = prompt('Enter the description for the new data:');

                    /*
                    if (newData && newDescription) {
                        data.push({ data: newData, description: newDescription });
                        viewAllDatas();
                    }
                     */

                    xhrSend("add",""+newData,""+newDescription,"");
                }

                // Function to edit data entries
                function editData() {
                    const rowIndex = prompt('Enter the Subject ID to edit:');

                    const uSubject = prompt('Enter the updated data:');
                    const uDescription = prompt('Enter the updated description:');

                    xhrSend("edit",""+rowIndex,""+uSubject,""+uDescription);


                }

                // Function to delete data
                function deleteData() {
                    const rowIndex = prompt('Enter the row index to delete:');
                    xhrSend("delete",""+rowIndex,"","");
                }

                // Function to clear table
                function clearTable(tableBody) {
                    while (tableBody.firstChild) {
                        tableBody.removeChild(tableBody.firstChild);
                    }
                }
            </script>
        </div>
    </body>
</html>