<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<div class="container">
    <div class="password-reset form">
        <header>Password Reset</header>
        <form action="{{ url_for('password_reset') }}" method="post">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="submit" class="button" value="Reset Password">
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>



</body>
</html>
