<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Creation Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/random_test_creation.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Font+Name:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form>
        <!-- Training Level Section -->
        <div class="section">
          <div class = label-container>
            <label>Training Level</label>
          </div>
          <div class="selection-container">
            <div class="toggle-btn" data-selected="false">
                <input type="checkbox" id="" name="training_level" style="display: none;">
                <toggle-btn-label for="">Applicant</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="training_level" style="display: none;">
              <toggle-btn-label for="">Apprentice</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="training_level" style="display: none;">
              <toggle-btn-label for="">Journeyman</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="training_level" style="display: none;">
              <toggle-btn-label for="">Senior</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="training_level" style="display: none;">
              <toggle-btn-label for="">Cheif</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="training_level" style="display: none;">
              <toggle-btn-label for="">Coordinator</toggle-btn-label>
            </div>
          </div>
        </div>
  
        <!-- Bloom's Taxonomy Section -->
        <div class="section">
          <div class = label-container>
            <label>Bloom's Taxonomy</label>
          </div>
          <div class="selection-container">
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Remember</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Understand</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Apply</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Analyze</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Evaluate</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="blooms_taxonomy" style="display: none;">
              <toggle-btn-label for="">Create</toggle-btn-label>
            </div>
          </div>
        </div>
  
        <!-- Subject Section -->
        <div class="section">
          <div class = label-container>
            <label>Subject</label>
          </div>
          <div class="selection-container">
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">DOE - Mechanical Science</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">DOE - Electrical Science</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">Fish ladders</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">Bulk electric system</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">Alarms, indications, and measurement devices (mechanical)</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">Alarms, indications, measurement devices, and relays (electrical)</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="subject" style="display: none;">
              <toggle-btn-label for="">Relay protection schema</toggle-btn-label>
            </div>
          </div>
        </div>
  
        <!-- Topic Section -->
        <div class="section">
          <div class = label-container>
            <label>Topic</label>
          </div>
          <div class="selection-container">
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Diesel Engine Fundamentals</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Heat Exchangers</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Pumps</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Valves</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Miscellaneous Mechanical Components</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Basic Electrical Theory</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Basic DC Theory</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">DC Circuits</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Batteries</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">DC Generators</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">DC Motors</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Basic AC Theory</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">AC Reactive Components</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">AC Power</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">AC Generators</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Voltage Regulators</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">AC Motors</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Transformers</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Test Instruments and Measuring Devices</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="topic" style="display: none;">
              <toggle-btn-label for="">Electrical Distribution Systems</toggle-btn-label>
            </div>
          </div>
        </div>
  
        <!-- Question Type Section -->
        <div class="section">
          <div class = label-container>
              <label>Question Type</label>
          </div>
          <div class="selection-container">
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="question_type" style="display: none;">
              <toggle-btn-label for="">Short Answer</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="question_type" style="display: none;">
              <toggle-btn-label for="">Draw</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="question_type" style="display: none;">
              <toggle-btn-label for="">Matching</toggle-btn-label>
            </div>
            <div class="toggle-btn" data-selected="false">
              <input type="checkbox" id="" name="question_type" style="display: none;">
              <toggle-btn-label for="">Multiple Choice</toggle-btn-label>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="grid-container">
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <label>Number of Questions</label>
              </div>
              <div class="textinput-container">
                <input type="text" id="number_of_questions" name="number_of_questions">
              </div>
            </div>
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <label>Max Points</label>
              </div>
              <div class="textinput-container">
                <input type="text" id="test_point_value" name="test_point_value">
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="grid-container">
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <label>Test Name</label>
              </div>
              <div class="textinput-container">
                <input type="text" id="test_name" name="test_name">
              </div>
            </div>
            <div class="grid-item">

            </div>
          </div>
        </div>
  
        <!-- Form Footer for Submission -->
        <div class="section"> 
          <div class="centered-button-container">
            <button type="submit">Create Test</button>
          </div>
        </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='js/random_test_creation.js') }}"></script>
</body>
</html>