<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Creation Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/random_test_creation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <style>
      .error {
        color: red;
      }
    </style>
    {% include 'navbar.html' %}
  </head>
  <body>
    <div class="main-container">
      <form id="random_test_creation_form">
        <h1>Select options to determine the pool of potential questions from the database:</h1>
        <div class="criteria-container">
          <!-- Bloom's Taxonomy Section -->
          <div class="section">
            <div class="label-container">
              <h2>Bloom's Taxonomy</h2>
            </div>
            <div class="selection-container">
              {% for category in blooms_taxonomy %}
                <label class="toggle-btn" data-selected="false">
                  <input type="checkbox" id="blooms_{{ category }}" name="blooms_taxonomy" value="{{ category }}" data-category="blooms_taxonomy" style="display: none;">
                  <span class="toggle-btn-label">{{ category }}</span>
                </label>
              {% endfor %}         
            </div>
            <button type="button" class="select-category" data-category="blooms_taxonomy">Select All Categories</button>
          </div>
          <!-- Subject Section -->
          <div class="section">
            <div class="label-container">
              <h2>Subject</h2>
            </div>
            <div class="selection-container">
              {% for subject in subjects %}
                <label class="toggle-btn" data-selected="false">
                  <input type="checkbox" id="subject_{{ subject }}" name="subject" value="{{ subject }}" data-category="subjects" style="display: none;">
                  <span class="toggle-btn-label" for="subject_{{ subject }}">{{ subject }}</span>
                </label>
              {% endfor %}
            </div>
            <button type="button" class="select-category" data-category="subjects">Select All Subjects</button>
          </div>
          <!-- Topic Section -->
          <div class="section">
            <div class="label-container">
              <h2>Topic</h2>
            </div>
            <div class="selection-container">
              {% for topic in topics %}
                <label class="toggle-btn" data-selected="false">
                  <input type="checkbox" id="topic_{{ topic }}" name="topic" value="{{ topic }}" data-category="topics" style="display: none;">
                  <span class="toggle-btn-label">{{ topic }}</span>
                </label>
              {% endfor %}
            </div>
            <button type="button" class="select-category" data-category="topics">Select All Topics</button>
          </div>
          <!-- Question Type Section -->
          <div class="section">
            <div class="label-container">
              <h2>Question Type</h2>
            </div>
            <div class="selection-container">
              {% for q_type in question_types %}
                <label class="toggle-btn" data-selected="false">
                  <input type="checkbox" id="question_type_{{ q_type }}" name="question_type" value="{{ q_type }}" data-category="question_types" style="display: none;">
                  <span class="toggle-btn-label">{{ q_type }}</span>
                </label>
              {% endfor %}
            </div>
            <button type="button" class="select-category" data-category="question_types">Select All Types</button>
          </div>
          <!-- Question Difficulty Section--> 
          <div class="section">
            <div class="label-container">
              <h2>Question Difficulty</h2>
            </div>
            <div class="selection-container">
              {% for q_difficulty in question_difficulty %}
                <label class="toggle-btn" data-selected="false">  
                  <input type="checkbox" id="question_difficulty_{{ q_difficulty }}" name="question_difficulty" value="{{ q_difficulty }}" data-category="question_difficulties" style="display: none;">
                  <span class="toggle-btn-label">{{ q_difficulty }}</span>
                </label>
              {% endfor %}
            </div>
            <button type="button" class="select-category" data-category="question_difficulties">Select All Difficulties</button>
          </div>
        </div>
        <div class="section">
          <div class="grid-container">
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <h2>Number of Questions</h2>
              </div>
              <div class="textinput-container">
                <input type="number" id="number_of_questions" name="number_of_questions">
              </div>
            </div>
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <h2>Test Max Points</h2>
              </div>
              <div class="textinput-container">
                <input type="number" id="test_point_value" name="test_point_value" min="1">
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="grid-container">
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <h2>Training Level</h2>
              </div>
              <div class="textinput-container">
                <select id="training_level_dropdown" name="training_level" class="dropdown-input">
                  <option value="all">Select training level</option>
                  <option value="applicant">Applicant</option>
                  <option value="apprentice">Apprentice</option>
                  <option value="journeyman">Journeyman</option>
                  <option value="senior">Senior</option>
                  <option value="chief">Chief</option>
                  <option value="coordinator">Coordinator</option>
                  <option value="all">Select all</option>
                </select>
              </div>
            </div>
            <div class="grid-item">
              <div class ="label-textboxsection-container">
                <h2>Test Name</h2>
              </div>
              <div class="textinput-container">
                <input type="text" id="test_name" name="test_name">
              </div>
            </div>
          </div>
        </div>
        <div class="section"> 
          <div class="centered-button-container">
            <button type="button" id="confirm-selection">Generate Test</button>
          </div>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/random_test_creation.js') }}"></script>
  </body>
</html>