<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel = "stylesheet" href = "{{url_for('static', filename='/css/scoring.css')}}">
</head>

<header class="navigation">
    <ul class="nav-links">
        <li class="center"><a href="{{url_for('tryregister')}}">Register</a></li>
        <li class="center"><a href="/datahierarchy">Data Hierarchy</a></li>
        <li class="center"><a href="/random_test_creation">Testing</a></li>
        <li class="center"><a href="/scoring_metrics">Scoring Metrics</a></li>
        <li class="center"><a href="{{ url_for('logout') }}">Logout/Login</a></li>
    </ul>
</header>

<body>
<div class="container">
<h2>Scoring Metrics</h2>

<table id="datasTable">
    <thead>
        <tr>
            <th>Test</th>
            <th>Average Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DOE - Mechanical Science</td>
            <td>92%</td>
        </tr>
        <tr>
            <td>DOE - Electrical Science</td>
            <td>87%</td>
        </tr>


    </tbody>
</table>

</div>
</body>
</html>