<!-- Table that shows a list of tester -->
<thead>
    <tr>
        <th>No.</th>
        <th>Tester Name</th>
        <th>Attempt Date</th>
        <th>Score</th>
        <th>Pass Status</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for row in tester_data %}
        <tr data-score-id="{{ row.score_id }}" data-tester-id="{{ row.tester_id }}" data-test-id="{{ row.test_id }}">
            <td class="dropdown-history">{{ loop.index }}</td>
            <td>{{ row.testee_name }}</td>
            <td class="attemptDate-cell">{{ row.attempt_date }}</td>
            <td class="score-cell">
                {% if row.total_score == -1 %} N/A
                {% else %}{{ row.total_score }}
                {% endif %}
            </td>
            <td class="passStatus-cell">{% if row.pass_status == 1 %} PASS
                {% else %} FAIL
                {% endif %}
            </td>
            <td onclick="addRecord('{{ row.test_id }}', '{{ row.tester_id }}', '{{ row.testee_name }}')">
                    <button id="add-record-button">Add</button>
            </td>
        </tr>

        <tr class="dropdown-table">
            <td colspan="6">
                <table id="historyData_{{ row.tester_id }}">
                    {% include 'tester_history_table.html' %}
                </table>
            </td>
        </tr>
    {% endfor %}


</tbody>
<script src="{{ url_for('static', filename='js/test_tester_data.js') }}"></script>