<!-- Table that shows test lists -->
<thead>
    <tr>
        <th>No.</th>
        <th>Test Name</th>
        <th>Subject</th>
        <th>Topic</th>
        <th>Created Date</th>
        <th>Modified Date</th>
    </tr>
</thead>
<tbody>
    {% for row in data %}
        <tr id="testclick" onclick="showPopover(this, '{{ row.test_id }}', '{{ row.test_name }}')">
            <td>{{ loop.index }}</td>
            <td>{{ row.test_name }}</td>
            <td>{{ row.subject_name }}</td>
            <td>{{ row.topic_name }}</td>
            <td>{{ row.creation_date }}</td>
            <td>{{ row.last_modified_date }}</td>
        </tr>
    {% endfor %}
</tbody>
<script>
    function showPopover(element, test_id, test_name) {
        // Create HTML content for the popover
        var popoverContent = `
            <div class="popover">
                <div class="arrow"></div>
                <div class="popover-body">
                    <form action="/generate_test" method="POST" target="_blank">
                        <input type="hidden" name="test_id" value="${test_id}">
                        <button type="submit" class="btn btn-primary">Export Test</button>
                    </form>
                    <form action="/generate_test_answers" method="POST" target="_blank">
                        <input type="hidden" name="test_id" value="${test_id}">
                        <button type="submit" class="btn btn-primary">Export Test Answers</button>
                    </form>
                    <button class="btn btn-primary" onclick="viewTestScores('${test_id}')">Test Scores</button>
                    <button class="btn btn-primary" onclick="modifyTest('${test_id}')">Modify Test</button>
                </div>
            </div>
        `;

        // Hide other popovers before showing this one
        $('.popover').popover('hide');

        // Show popover
        $(element).popover({
            title: test_name,
            content: popoverContent,
            placement: 'right',
            html: true,
            trigger: 'manual'
        }).popover('toggle');

        // Close popover when clicking outside of it
        $(document).on('click', function (event) {
            if (!$(element).is(event.target) && $(element).has(event.target).length === 0 && !$(event.target).closest('.popover').length) {
                $(element).popover('hide');
            }
        });
    }

    // Function to handle modify test button click
    function modifyTest(test_id) {
        window.location.href = "/modify-test/" + test_id;
    }

    // Function to handle view test scores button click
    function viewTestScores(test_id) {
        window.location.href = "/test/" + test_id;
    }
</script>
