<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/test_template.css')}}">
        <title>Test Questions</title>
    </head>
    <body>
        <header>
        <div>
            <h3 class="name">Answer Key</h3>
            <h3 class="points">Total Points Possible: {{ test_data['total_score'] }}</h3>
        </div>
            <h2 class="test-name">{{ test_data['test_name'] }}</h2>
        </header>
        <main>

            {% for question in test_questions %}
                <div class="question-container">
                    <h3>Question {{ question['question_order'] }}:</h3>
                    <p>{{ question['question_text']|safe }}</p>
                    <p>Max Points Possible:{{ question['max_points']}}</p>
                </div>
                <div class="question-container">
                    <h3>Answer:</h3>
                    <p>{{ question['question_answer']|safe }}</p>
                    <h3>Answer explanation:</h3>
                    <p>{{ question['answer_explaination'] }}</p>
                    <h3>Points Rubric:</h3>
                    <p>{{ question['points_definition'] }}</p>
                    <p>Source: {{ question['source/other'] }}</p>
                    <br>
                </div>
            {% endfor %}

        </main>
    <div class="page-number"></div>
    </body>
    <script>
        // JavaScript code to execute on page load
        window.addEventListener("load", function() {
            // Trigger the browser's print function
            window.print();
        });
    </script>
</html>