<!-- Table that shows test lists -->
<thead>
    <tr>
        <th>No.</th>
        <th>Test Name</th>
        <th>Subject</th>
        <th>Topic</th>
        <th>Training Level</th>
        <th>Created Date</th>
        <th>Modified Date</th>
    </tr>
</thead>
<tbody>
    {% for row in data %}
    <tr id="testclick" onclick="navigateToPage('{{ row.test_id }}')">
        <td>{{ loop.index }}</td>
        <td>{{ row.test_name }}</td>
        <td>{{ row.subject_name }}</td>
        <td>{{ row.topic_name }}</td>
        <td>{{ row.training_level }}</td>
        <td>{{ row.creation_date }}</td>
        <td>{{ row.last_modified_date }}</td>
    </tr>
    {% endfor %}
</tbody>
<script>
    function navigateToPage(test_id){
        window.location.href = "/test/"+test_id;
    }
</script>
