<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{url_for('static', filename='/css/test_list.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/fonts.css') }}">
        {% include 'navbar.html' %}
    </head>
    <body>
        <div class="container">
            <h2>Tester List</h2>

            <!-- tester list table -->
            <table id="datasTable">
                {% include 'tester_table.html' %}
            </table>

            <!-- Add button -->
            <button id="addTester" data-test-id={{ testId }}>Add New Tester</button>

        </div>

    </body>
</html>